@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #f5d87f;
    }
}



@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }
}


@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #f5d87f;
    }
}